ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    list-style-type: none;
    width:10%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
    position:top left;
}
li a {
    display: bl2ck;
    width: 300px;
    background-color: #dddddd;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    margin-top:20%;
}
h1 {
  margin-left: 300px;
  font-size:75px;
}
boarder {
  height: 50px;
  width: 50px;
}
p { 	
  font-size: 30px;
  margin-left: 200px;
  text-align:right;
}
.loopd {
height: 400px;
width: 400px; 
float: left;
margin-left: 300px;
margin-top: 50px;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

td, th {
  border: 10px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
li a.active123{
width: 50%;
}

